<h2>Edit Movie</h2>
<form action="/movies/{{:id}}/edit" method="POST">
    <div>
        <label for="" class="form-label">Title </label> <br>
        <input type="text" name="title" value="{{title}}">
    </div>
    <div>
        <label for="" class="form-label">Genre </label> <br>
        <input type="text" name="genre" value="{{genre}}">
    </div>
    <div>
        <label for="" class="form-label">Plot </label> <br>
        <input type="text" name="plot" value="{{plot}}"> </input>
    </div>
        <div>
        <label for="" class="form-label">cast </label> <br>
        <select type="text" name="cast" id="cast" multiple>
            {{#each cast}}
            <option value="{{_id}}">{{this.name}}</option>
            {{/each}}
         </select>
    </div>
    <div>

    <button type="submit">Save changes</button>

        
    </div>
</form>