<a href="/movies">Go Back</a>
<br><br>
<h2>Movie Details</h2> 
<br>
<div>
    <h2>{{title}}</h2>
    <br>
    <a href="/movies">Go back to all movies</a>
    <br>
    <br>
    <h2>Genre: {{genre}}</h2>
    <br>
    <h2>Plot: {{plot}}</h2>
    <br>
    <div>
        <ul>
            {{#each cast}}
<div>
            <li>Actor name: {{this.name}}</li>
            <br>
                        <li>Occupation: {{this.occupation}}</li>
                        <br>
                                    <li>Catch phrase: {{this.catchPhrase}}</li>
                                    <br>
                                    </div>
            {{/each}}
        </ul>
    </div>
</div>