<div class="container">
    <a href="../" class="btn btn-secondary">Go Back</a> <a href="/movies/create" class="btn btn-primary">Create new movie</a>
    <br>
    <h1>Movies</h1>
    <div class="row">
        {{#each result}}
        <div class="col-md-4 mb-3">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">{{title}}</h2>
                    <a href="/movies/{{_id}}" class="card-link">Link to Movie page</a>
                    <h3 class="card-subtitle mb-2 text-muted">{{genre}}</h3>
                    <p class="card-text">{{plot}}</p>
                    <div>
                        <ul>
                            {{#each cast}}
                            <li>{{this.name}}</li>
                            {{/each}}
                        </ul>
                    </div>
                    <a href="/movies/{{_id}}/edit" class="btn btn-primary">Edit this Movie</a>
                    <form action="/movies/{{_id}}/delete" method="POST" class="d-inline-block">
                        <button type="submit" class="btn btn-danger"> Delete this Movie</button>
                    </form>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>
